html, body{
  min-height: 100vh;
  max-width: 100vw;

}

.App {
  text-align: center;
  min-height: 100vh;
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: whitesmoke;
  background-color: rgb(0, 17, 29);
  font-size: large;
}

.title{
  font-family: 'Lobster', cursive;
  font-size: xx-small !important;
}

.bid-button{
  max-width: 120px !important;
}

.text_left{
  text-align: left !important;
}

/* media xs */
@media screen and (max-width: 576px) {

} 

/* media s */
@media screen and (max-width: 768px) {

}

/* media md */
@media screen and (max-width: 992px) {
  .xs-center{
    justify-content: center !important;
    text-align: center !important;
  }
  .visual{
    width: 250px;
  }
}

/* media lg */
@media screen and (max-width: 1200px) {

}

/* media xl */
@media screen and (max-width: 1400px) {

}